{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/stylepn.css' %}">
{% endblock style %}

{% block content %}

<div class="conteneur">
    
    <div class="panier">
        <h2>Panier</h2>
        <div id = "panier_grid">
            <h5>PRODUITS</h5>
            <h5>PRIX</h5>
            <h5>QUANTITE</h5>
            <h5>TOTAL</h5>
            <div class="produit">
                <img class="croix" src="{% static 'img/icons8-cancel-32.png' %}" alt="cancel">
                <img class="imgarticle" src="{% static 'img/Image_5.png' %}" alt="tv intelligent">
                <p class="descpt">Téléviseur intelligent LED 4K UHD avec <br>
                        Chromecast intégré</p>
            </div>
            <span class="prix">1000 $</span>
            <div class="compteur"><img class = "moins" src="{% static 'img/icons8-subtract-24.png' %}" alt="moins"> <span>01</span> <img class = "plus" src="{% static 'img/icons8-plus-24.png' %}" alt="plus"></div>
            <span class="total">799 $</span>
            <div class="produit">
                <img class="croix" src="{% static 'img/icons8-cancel-32.png' %}" alt="cancel">
                <img class="imgarticle" src="{% static 'img/Image_8.png' %}" alt="tv intelligent">
                <p class="descpt">Téléviseur intelligent LED 4K UHD avec <br>
                    Chromecast intégré</p>
            </div>
            <span class="prix">70 $</span>
            <div class="compteur"><img class = "moins" src="{% static 'img/icons8-subtract-24.png' %}" alt="moins"> <span>01</span> <img class = "plus" src="{% static 'img/icons8-plus-24.png' %}" alt="plus"></div>
            <span class="total">70 $</span>
            <div class="produit">
                <img class="croix" src="{% static 'img/icons8-cancel-32.png' %}" alt="cancel">
                <img class="imgarticle" src="{% static 'img/Image_8.png' %}" alt="tv intelligent">
                <p class="descpt">Téléviseur intelligent LED 4K UHD avec <br>
                    Chromecast intégré</p>
            </div>
            <span class="prix">70 $</span>
            <div class="compteur"><img class = "moins" src="{% static 'img/icons8-subtract-24.png' %}" alt="moins"> <span>01</span> <img class = "plus" src="{% static 'img/icons8-plus-24.png' %}" alt="plus"></div>
            <span class="total">70 $</span>
        </div>
        
       <div class="one">
            <button id = "home_btn" type = "button"><img src="{% static 'img/icons8-left-24.png' %}" alt="fleche gauche"><a href="{% url 'home' %}">ACCEUIL</a></button>
            <button type = "button">VALIDER</button>
        </div>
    </div>

    <div class="totaux">
        <h2>Totaux</h2>
        <div class="tot">
            <span>total</span>
            <span>320 $</span>
        </div>
        <div class="tot">
            <span>frais</span>
            <span>16 $</span>
        </div>
        <div class="tot">
            <span>taxe</span>
            <span>21,99 $</span>
        </div>
        <hr>
        <div class="total1">
            <span>Total</span>
            <span>357,99 $ USD</span>
        </div>
    </div>
</div>
{% endblock content %}

{% comment %} Additionnal script {% endcomment %}

{% block script %}
    <script src="{% static 'js/panier.js' %}"></script>
{% endblock script %}