{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/stylevld.css' %}">
{% endblock style %}

{% block nav %}
<nav id="headerbottom">
    <img src="{% static 'img/home.svg' %}" alt="logo home">
    <a href = "{% url 'home' %}">Accueil.</a><span style="color: grey;">></span>
    <a href="#">panier</a><span style="color: grey;">></span>
    <a href="#" style="color: rgb(70, 91, 226);">valideur</a>
</nav>
{% endblock nav %}

{% block content %}
<center>
    <div><img src="{% static 'img/valider.svg' %}" alt="icone validation"></div>
    <div>
        <p class="para1">votre commande a été validée</p>
        <p class="para2">
            Pellentesque sed lectus nec tortor tristique accumsan quis <br>
            dictum risus. Donec volutpat mollis nulla non facilisis.
        </p>
        <button class="one"> <a href="{% url 'home' %}"></a><span>ACCUEIL</span> <img src="{% static 'img/droite.svg' %}" alt="fleche droite"></button><br>
        <button class="two"><span>SUIVRE LE COLIS</span> <img src="{% static 'img/droite.svg' %}" alt="fleche droite"></button>
    </div>
</center>
{% endblock content %}   
